* { 
  box-sizing:border-box;
        }
html,body{
  min-height: 10,0vh;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  font: 18px 'Montserrat', sans-serif;
  background-color: rgb(202, 187, 218);
  font-weight: 700;
}
#section-top{
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  color: black;
  font-family: 'Cinzel', serif;
}
#section-middle{
  display:grid;
  height: fit-content;
  justify-content: space-evenly;
}
#section-bottom{
  height:100px;
  text-align:left;
}
.section-heading{
  padding:10px;
  text-align: center;
  position: relative;
  top: 320px;
  font-size: 20px;
  color: white;
}
 #keyboard{
text-align: center;
margin-top: 25px;

} 
.alpha-key{
  padding: 5px;
  margin: 1px 1px;
  display:inline-table;
  width: 23px;
  height: 26px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}
.clicked{
  opacity: 0.1;
}
canvas{
  padding: 10px 20px;
  margin: 10px 20px;
  text-align:center;
  width: 10px;

}
#canvas{
  margin: -90px 200px;
  width: 270px;
  height: 250px;
  background-color: #f1faee;
  outline: 2px ridge black;
}
#restart{ 
  background-color: #f1faee;
  display:inline-flex;
  padding: 15px;
  border-radius: 8px;
  margin-top: 250px;
}
